In [ ]:
# from alpha_vantage.timeseries import TimeSeries
# from alpha_vantage.techindicators import TechIndicators
# from pprint import pprint
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
stocks_df=pd.read_csv("100_only_bysector_export.csv")
stocks_df=pd.DataFrame(stocks_df)
stocks_df.head()

In [ ]:
date_df=stocks_df.set_index(['Symbol'])
date_df=date_df.dropna()
date_df=date_df.drop(['Unnamed: 0','Sector', 'Name'], axis=1)
date_df.head()

In [ ]:
date_df=date_df.swapaxes("index", "columns") 
date_df=date_df.reset_index()
date_df=date_df.rename(columns={"index": "date_range"})
date_df[:26]

In [51]:
date = date_df.index.astype('O')

In [42]:
symbols = list(date_df.iloc[0])
difference = list(date_df.iloc[-1])

In [45]:
difference_df = pd.DataFrame({'Symbols' : symbols,
                                'Difference' : difference})
difference_df

       Symbols  Difference
0       Symbol          24
1   date_range  Difference
2          MMM       14.14
3          AOS        4.02
4          ABT        0.34
..         ...         ...
89         CAT        21.4
90        CBOE       21.48
91        CBRE        4.29
92         CNC         -20
93         CNP        13.7

[94 rows x 2 columns]

             25
0
Symbol      NaN
date_range   24
MMM         NaN
AOS         NaN
ABT         NaN
...         ...
CAT         NaN
CBOE        NaN
CBRE        NaN
CNC         NaN
CNP         NaN

[94 rows x 1 columns]

In [47]:
x=date_df["date_range"]
y=date_df["MMM"]
fig, ax=plt.subplots()
ax.plot(x,y);
plt.title("3M Weekly Close Values (October 4,2019-March 13,2020)")
plt.xlabel("Date Range")
plt.ylabel("Close Values")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.tight_layout()
plt.show()

In [ ]:
cleaned_stocks=stocks_df.dropna()
cleaned_stocks=cleaned_stocks.drop(['Unnamed: 0'], axis=1)
sector_df=cleaned_stocks.groupby("Sector").mean()
sector_df.head()

In [ ]:
sector_df=sector_df.swapaxes("index", "columns") 
sector_df=sector_df.rename(index={'Sector': 'date_range'})
sector_df.index.name = 'date_range'
sector_df.head()

In [ ]:
df=sector_df.reset_index()

In [ ]:
x_axis=df["date_range"]
y_1=df["Consumer Discretionary"]
y_2=df["Financials"]
y_3=df["Health Care"]
y_4=df["Industrials"]
y_5=df["Information Technology"]
y_6=df["Materials"]
y_7=df["Real Estate"]
y_8=df["Utilities"]
fig,ax=plt.subplots()
consumer_discretionary=plt.plot(x_axis, y_1, label="Consumer Disrectionary", color="gold")
fin=plt.plot(x_axis, y_2, label="Financials", color="coral")
hc=plt.plot(x_axis, y_3, label="Health Care", color="cornflowerblue")
ind=plt.plot(x_axis, y_4, label="Industrials", color="green")
it=plt.plot(x_axis, y_5, label="Information Technology", color="yellowgreen")
mat=plt.plot(x_axis, y_6, label="Materials", color="magenta")
re=plt.plot(x_axis, y_7, label="Real Estate",color="teal")
ut=plt.plot(x_axis, y_8, label="Utilities", color="purple")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.tight_layout()
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.1, 1.05))
plt.title("Average Close Values by Sector (October 4,2019-March 13,2020)")
plt.xlabel("Date Range")
plt.ylabel("Average Weekly Close Value")
plt.show()

In [ ]:
# place holder until we get more data
consumer_df=stocks_df.loc[stocks_df["Sector"]=="Consumer Disrectionary"]
consumer_df=consumer_df.dropna()
consumer_df

In [ ]:
fin_df=stocks_df.loc[stocks_df["Sector"]=="Financials"]
fin_df=fin_df.dropna()
fin_df=fin_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
fin_df=fin_df.rename(columns={'Name': 'date_range'})
fin_df=fin_df.set_index('date_range')
fin_df=fin_df.swapaxes("index", "columns")
fin_df['Average Close'] = fin_df.mean(axis=1)
fin_df['MA_5'] = fin_df["Average Close"].rolling(window=5).mean()
fin_df['MA_10'] = fin_df["Average Close"].rolling(window=10).mean()
fin_df

In [ ]:
fin_df=fin_df.reset_index()
fin_df=fin_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=fin_df["date_range"]
avg_close=fin_df["Average Close"]
ma_5=fin_df["MA_5"]
ma_10=fin_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.05, 1.04))
plt.title("Moving Averages of the Financial Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
healthcare_df=stocks_df.loc[stocks_df["Sector"]=="Health Care"]
healthcare_df=healthcare_df.dropna()
healthcare_df=healthcare_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
healthcare_df=healthcare_df.rename(columns={'Name': 'date_range'})
healthcare_df=healthcare_df.set_index('date_range')
healthcare_df=healthcare_df.swapaxes("index", "columns")
healthcare_df['Average Close'] = healthcare_df.mean(axis=1)
healthcare_df['MA_5'] = healthcare_df["Average Close"].rolling(window=5).mean()
healthcare_df['MA_10'] = healthcare_df["Average Close"].rolling(window=10).mean()
healthcare_df

In [ ]:
healthcare_df=healthcare_df.reset_index()
healthcare_df=healthcare_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=healthcare_df["date_range"]
avg_close=healthcare_df["Average Close"]
ma_5=healthcare_df["MA_5"]
ma_10=healthcare_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.05, 1.04))
plt.title("Moving Averages of the Health Care Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
industrials_df=stocks_df.loc[stocks_df["Sector"]=="Industrials"]
industrials_df=industrials_df.dropna()
industrials_df=industrials_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
industrials_df=industrials_df.rename(columns={'Name': 'date_range'})
industrials_df=industrials_df.set_index('date_range')
industrials_df=industrials_df.swapaxes("index", "columns")
industrials_df['Average Close'] = industrials_df.mean(axis=1)
industrials_df['MA_5'] = industrials_df["Average Close"].rolling(window=5).mean()
industrials_df['MA_10'] = industrials_df["Average Close"].rolling(window=10).mean()
industrials_df

In [ ]:
industrials_df=industrials_df.reset_index()
industrials_df=industrials_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=industrials_df["date_range"]
avg_close=industrials_df["Average Close"]
ma_5=industrials_df["MA_5"]
ma_10=industrials_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.3, 1.04))
plt.title("Moving Averages of the Industrials Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
it_df=stocks_df.loc[stocks_df["Sector"]=="Information Technology"]
it_df=it_df.dropna()
it_df=it_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
it_df=it_df.rename(columns={'Name': 'date_range'})
it_df=it_df.set_index('date_range')
it_df=it_df.swapaxes("index", "columns")
it_df['Average Close'] = it_df.mean(axis=1)
it_df['MA_5'] = it_df["Average Close"].rolling(window=5).mean()
it_df['MA_10'] = it_df["Average Close"].rolling(window=10).mean()
it_df

In [ ]:
it_df=it_df.reset_index()
it_df=it_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=it_df["date_range"]
avg_close=it_df["Average Close"]
ma_5=it_df["MA_5"]
ma_10=it_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.3, 1.04))
plt.title("Moving Averages of the Information Technology Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
materials_df=stocks_df.loc[stocks_df["Sector"]=="Materials"]
materials_df=materials_df.dropna()
materials_df=materials_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
materials_df=materials_df.rename(columns={'Name': 'date_range'})
materials_df=materials_df.set_index('date_range')
materials_df=materials_df.swapaxes("index", "columns")
materials_df['Average Close'] = materials_df.mean(axis=1)
materials_df['MA_5'] = materials_df["Average Close"].rolling(window=5).mean()
materials_df['MA_10'] = materials_df["Average Close"].rolling(window=10).mean()
materials_df

In [ ]:
materials_df=materials_df.reset_index()
materials_df=materials_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=materials_df["date_range"]
avg_close=materials_df["Average Close"]
ma_5=it_df["MA_5"]
ma_10=it_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.3, 1.04))
plt.title("Moving Averages of the Materials Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
realestate_df=stocks_df.loc[stocks_df["Sector"]=="Real Estate"]
realestate_df=realestate_df.dropna()
realestate_df=realestate_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
realestate_df=realestate_df.rename(columns={'Name': 'date_range'})
realestate_df=realestate_df.set_index('date_range')
realestate_df=realestate_df.swapaxes("index", "columns")
realestate_df['Average Close'] = materials_df.mean(axis=1)
realestate_df['MA_5'] = materials_df["Average Close"].rolling(window=5).mean()
realestate_df['MA_10'] = materials_df["Average Close"].rolling(window=10).mean()
realestate_df

In [ ]:
realestate_df=realestate_df.reset_index()
realestate_df=realestate_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=realestate_df["date_range"]
avg_close=realestate_df["Average Close"]
ma_5=it_df["MA_5"]
ma_10=it_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.3, 1.04))
plt.title("Moving Averages of the Real Estate Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()

In [ ]:
utilities_df=stocks_df.loc[stocks_df["Sector"]=="Utilities"]
utilities_df=utilities_df.dropna()
utilities_df=utilities_df.drop(['Unnamed: 0', 'Sector', 'Symbol'], axis=1)
utilities_df=utilities_df.rename(columns={'Name': 'date_range'})
utilities_df=utilities_df.set_index('date_range')
utilities_df=utilities_df.swapaxes("index", "columns")
utilities_df['Average Close'] = materials_df.mean(axis=1)
utilities_df['MA_5'] = materials_df["Average Close"].rolling(window=5).mean()
utilities_df['MA_10'] = materials_df["Average Close"].rolling(window=10).mean()
utilities_df

In [ ]:
utilities_df=utilities_df.reset_index()
utilities_df=utilities_df.rename(columns={'index': 'date_range'})

In [ ]:
date_range=utilities_df["date_range"]
avg_close=utilities_df["Average Close"]
ma_5=it_df["MA_5"]
ma_10=it_df["MA_10"]
fig,ax=plt.subplots()
ax.plot(date_range,avg_close, label="data")
ax.plot(date_range, ma_5, label="SMA 5 Weeks")
ax.plot(date_range, ma_10, label="SMA 10 Weeks")
for label in ax.get_xticklabels():
    label.set_ha("right")
    label.set_rotation(35)
plt.style.use('seaborn')
plt.legend(bbox_to_anchor=(1.3, 1.04))
plt.title("Moving Averages of the Utilities Sector")
plt.xlabel("Date Range")
plt.ylabel("Stock Value")
plt.tight_layout()
plt.show()