In [ ]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import time
# API Key
from config import apikey

In [ ]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo
base_url = "https://www.alphavantage.co/query?"
params = {
    "function":"TIME_SERIES_WEEKLY",
    "symbol":"",   #REMOVE AFTER VERIFYING
    "apikey":apikey
}

# Read in the stock data set
stock_data = pd.read_csv('stock_export.csv')
stock_data.head()


#function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo

In [60]:
#response = requests.get(base_url, params=params).json()
#response

In [102]:
#Implement the weeks we will want to add to the columns

Start_Week = "2019-10-04"
End_Week = "2020-03-13"
x= Start_Week
weeks = []

In [103]:
hardcode_weeks = ["2019-10-04", "2019-10-11","2019-10-18", "2019-10-25", "2019-11-01", "2019-11-08",
                  "2019-11-15", "2019-11-22", "2019-11-29", "2019-12-06", "2019-12-13", "2019-12-20",
                  "2019-12-27", "2020-01-03", "2020-01-10", "2020-01-17", "2020-01-24", "2020-01-31",
                  "2020-02-07", "2020-02-14", "2020-02-21", "2020-02-28", "2020-03-06", "2020-03-13"]

In [104]:
hardcode_weeks[0]

'2019-10-04'

In [63]:
for item in hardcode_weeks:
    stock_data[item]=""

In [64]:
stock_data

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
0,MMM,3M Company,Industrials,,,,,,,,...,,,,,,,,,,
1,AOS,A.O. Smith Corp,Industrials,,,,,,,,...,,,,,,,,,,
2,ABT,Abbott Laboratories,Health Care,,,,,,,,...,,,,,,,,,,
3,ABBV,AbbVie Inc.,Health Care,,,,,,,,...,,,,,,,,,,
4,ACN,Accenture plc,Information Technology,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,,,,,,,,...,,,,,,,,,,
501,YUM,Yum! Brands Inc,Consumer Discretionary,,,,,,,,...,,,,,,,,,,
502,ZBH,Zimmer Biomet Holdings,Health Care,,,,,,,,...,,,,,,,,,,
503,ZION,Zions Bancorp,Financials,,,,,,,,...,,,,,,,,,,
504,ZTS,Zoetis,Health Care,,,,,,,,...,,,,,,,,,,

In [111]:
x = 0
for index, row in stock_data[499:].iterrows():
    x = x + 1
    params['symbol']=row["Symbol"]
    response = requests.get(base_url, params=params).json()
    
    for week in hardcode_weeks: 
        try:
            stock_data.loc[index,week]= response["Weekly Time Series"][week]["4. close"]
        except:
            pass
    if x == 5:
        x = 0
        time.sleep(61)
            
        
stock_data.to_csv("stock_export.csv",index=False)

In [113]:
stock_data[490:510]

,Unnamed: 0,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
490,490,WY,Weyerhaeuser Corp.,Real Estate,27.0200,27.1300,28.2800,29.0600,29.9900,29.6300,...,29.5700,30.9800,30.5300,28.9500,28.5800,30.6600,30.7300,25.9800,26.6000,21.9200
491,491,WHR,Whirlpool Corp.,Consumer Discretionary,155.3300,158.2200,161.0600,159.3600,150.0700,154.7700,...,149.6800,152.6300,149.4200,146.1700,149.2100,152.1600,147.1900,127.8600,121.1200,115.4300
492,492,WMB,Williams Cos.,Energy,23.6500,23.0900,22.9100,23.2400,22.8900,22.0900,...,23.5000,23.8600,22.1900,20.6900,21.0600,21.5400,21.5200,19.0500,17.4500,15.8100
493,493,WLTW,Willis Towers Watson,Financials,188.6500,188.1000,187.7700,184.9800,188.9900,185.1000,...,205.0000,204.9900,209.0100,211.2900,210.2500,213.6700,208.4400,189.2500,199.7100,180.0400
494,494,WYN,Wyndham Worldwide,Consumer Discretionary,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,495,WYNN,Wynn Resorts Ltd,Consumer Discretionary,108.9100,112.7800,113.5200,120.8500,123.1900,126.4700,...,143.0100,151.6200,134.7500,126.1600,126.9100,132.1400,127.9500,107.9800,94.0300,72.5200
496,496,XEL,Xcel Energy Inc,Utilities,64.6300,63.3300,64.0100,63.6400,63.1000,60.0800,...,62.6400,65.3700,67.1700,69.1900,68.7100,70.2600,70.8200,62.3200,70.1500,66.8400
497,497,XRX,Xerox Corp.,Information Technology,29.5900,29.4100,29.8000,30.5100,33.4800,38.8500,...,36.6500,37.3300,35.5200,35.5700,37.1700,37.8200,36.3400,32.2000,31.2900,23.9600
498,498,XLNX,Xilinx Inc,Information Technology,94.2400,96.2200,94.3400,94.9000,92.7100,95.5000,...,99.4700,102.8900,100.8000,84.4800,85.6200,90.1700,87.7200,83.4900,79.8600,76.5400
499,499,XL,XL Capital,Financials,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,500,XYL,Xylem Inc.,Industrials,75.9700,77.6300,79.7800,83.3000,79.1200,77.3300,...,79.9400,83.4600,81.4800,81.6600,84.2000,88.1400,88.5200,77.3400,81.2200,72.1200
501,501,YUM,Yum! Brands Inc,Consumer Discretionary,114.6600,114.4500,112.3000,109.1000,99.6500,98.9000,...,101.6900,105.4000,104.9800,105.7700,102.0400,105.2800,103.5100,89.2500,89.4000,78.4600
502,502,ZBH,Zimmer Biomet Holdings,Health Care,134.4500,136.4400,137.6100,134.0700,138.2200,144.0000,...,149.9900,149.3800,147.8000,147.9000,156.3900,160.4000,157.3900,136.1500,124.1000,97.8000
503,503,ZION,Zions Bancorp,Financials,43.2000,44.0900,44.7200,47.9500,49.3450,51.0700,...,50.6700,50.7400,46.6300,45.4900,46.2300,46.2600,45.4300,39.9500,35.2800,29.4200
504,504,ZTS,Zoetis,Health Care,127.0500,128.4700,128.1200,124.3600,125.3400,117.8600,...,135.5700,140.1600,136.3100,134.2100,138.9000,144.1700,142.2300,133.2300,137.0500,125.4800

In [114]:
edit_df = stock_data.copy()

In [115]:
edit_df.replace('', np.nan, inplace=True)

In [116]:
edit_df.dropna(how="any", inplace = True)

In [117]:
edit_df.to_csv("500_stock_export.csv",index=False)

In [118]:
sector_df = edit_df.copy()

In [119]:
sector_df = sector_df.drop(["Symbol","Name"], axis=1)
sector_df = sector_df.set_index(["Sector"])
sector_df

,Unnamed: 0,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,2019-11-22,2019-11-29,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
Sector,,,,,,,,,,,,,,,,,,,,,
Industrials,0,155.82,158.1,163.1,166.09,170.09,173.15,171.88,167.6,169.77,...,180.47,181.35,178.15,158.66,160.08,161.01,156.93,149.24,153.65,141.68
Industrials,1,45.51,47.99,51.01,51.07,50.28,52.08,50.78,48.2,48.4,...,47.62,46.93,45.43,42.69,41.99,43.93,44.09,39.55,42.69,41.49
Health Care,2,81.99,79.63,82.79,81.65,82.66,83.74,85.71,83.74,85.45,...,85.36,89,90.4,87.14,87.87,89.66,87.45,77.03,81.74,81.65
Health Care,3,74.66,73.63,76.46,76.53,81.75,85.21,88.63,86.05,87.73,...,89.06,88,83.54,81.02,92.29,94.05,94.96,85.71,88.82,85.37
Information Technology,4,189.64,184.97,187.08,183.07,188.22,189.7,196.81,196.66,201.16,...,207.66,209.2,208.57,205.21,211.58,212.37,211.89,180.59,178.75,166.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Industrials,500,75.9700,77.6300,79.7800,83.3000,79.1200,77.3300,77.5500,76.8900,77.5100,...,79.9400,83.4600,81.4800,81.6600,84.2000,88.1400,88.5200,77.3400,81.2200,72.1200
Consumer Discretionary,501,114.6600,114.4500,112.3000,109.1000,99.6500,98.9000,98.2800,97.6200,100.6700,...,101.6900,105.4000,104.9800,105.7700,102.0400,105.2800,103.5100,89.2500,89.4000,78.4600
Health Care,502,134.4500,136.4400,137.6100,134.0700,138.2200,144.0000,146.7800,143.8200,145.2800,...,149.9900,149.3800,147.8000,147.9000,156.3900,160.4000,157.3900,136.1500,124.1000,97.8000
Financials,503,43.2000,44.0900,44.7200,47.9500,49.3450,51.0700,49.5500,49.9600,49.7800,...,50.6700,50.7400,46.6300,45.4900,46.2300,46.2600,45.4300,39.9500,35.2800,29.4200
Health Care,504,127.0500,128.4700,128.1200,124.3600,125.3400,117.8600,117.9200,119.8100,120.5200,...,135.5700,140.1600,136.3100,134.2100,138.9000,144.1700,142.2300,133.2300,137.0500,125.4800

In [120]:
sector_df[hardcode_weeks]= sector_df[hardcode_weeks].apply(pd.to_numeric, errors = "coerce")

In [121]:
sector_df = sector_df.groupby(["Sector"]).mean()

In [122]:
sector_df

,Unnamed: 0,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,2019-11-22,2019-11-29,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
Sector,,,,,,,,,,,,,,,,,,,,,
Consumer Discretionary,280.181818,150.975779,152.346623,154.383571,155.682468,156.319610,154.446039,153.821948,153.502597,156.032727,...,161.433312,163.047078,159.644675,156.404481,159.324675,163.335455,161.617273,143.750649,140.200130,124.656039
Consumer Staples,250.733333,92.192167,91.533667,91.195833,90.782000,90.512667,90.793333,91.333333,91.538333,92.429333,...,93.731000,95.707667,95.204500,93.748000,95.787500,96.808333,96.178667,85.963000,91.549000,83.497333
Energy,252.740741,46.462593,47.197778,46.100741,48.623333,48.590000,49.938148,49.339259,48.618148,47.780741,...,52.113704,51.454074,48.728519,45.801852,46.324074,46.590000,46.731481,39.348519,35.187407,25.294074
Financials,240.492063,92.388333,92.811905,93.571905,94.597302,96.402143,98.492698,98.666349,98.798889,99.663651,...,101.834127,103.739683,102.195873,101.173016,104.230635,105.766667,104.361270,89.908095,87.252381,77.146984
Health Care,233.927273,155.743909,155.795818,159.419000,160.992273,165.174000,165.438364,169.808273,171.283818,173.360545,...,181.589455,184.018545,180.328545,172.708182,179.960182,183.956182,183.118909,164.644727,170.859636,156.790364
Industrials,253.968750,123.872109,125.941797,126.794375,129.086953,130.892656,132.775625,133.845000,133.004609,133.615938,...,136.768281,139.756094,138.620469,134.233750,137.693438,139.265312,137.736719,121.281250,119.519375,104.808281
Information Technology,236.432836,147.868881,149.027015,148.894179,151.500522,153.646119,156.361791,158.810746,156.718358,159.281045,...,169.581269,174.562687,174.548358,168.712836,174.194627,179.186567,175.416119,157.667910,155.551940,144.333955
Materials,259.227273,112.417273,114.131818,114.520000,116.207273,117.130455,118.960909,119.634545,117.525455,119.311364,...,117.949091,121.295455,119.685455,115.970455,120.777727,120.953182,119.479091,105.575909,108.830909,95.765909
Real Estate,262.843750,122.095312,121.188750,122.807813,121.790313,120.881562,116.390625,118.725000,117.303750,118.856250,...,119.282187,121.672812,122.815781,121.121875,123.436875,129.334688,129.368437,113.829688,119.804688,111.363750
Telecommunication Services,210.666667,36.316667,36.413333,37.320000,36.723333,37.546667,37.840000,37.993333,37.490000,37.370000,...,36.850000,37.523333,37.830000,36.906667,37.640000,36.886667,36.656667,33.816667,35.290000,32.920000
Utilities,221.730769,81.083846,79.808654,79.692885,79.938462,79.784615,76.430769,77.766538,77.886538,77.997692,...,80.126154,83.277692,85.280769,85.890769,85.496923,87.515000,87.189231,76.975769,83.161923,71.519231

In [123]:
sector_df.to_csv("500_bysector_export.csv",index=False)