In [58]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

# API Key
from config import apikey

In [59]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo
base_url = "https://www.alphavantage.co/query?"
params = {
    "function":"TIME_SERIES_WEEKLY",
    "symbol":"",   #REMOVE AFTER VERIFYING
    "apikey":apikey
}

# Read in the stock data set
stock_data = pd.read_csv('Resources/Stocks.csv')
stock_data.head()


#function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [60]:
#response = requests.get(base_url, params=params).json()
#response

In [61]:
#Implement the weeks we will want to add to the columns

Start_Week = "2019-10-04"
End_Week = "2020-03-13"
x= Start_Week
weeks = []

In [62]:
hardcode_weeks = ["2019-10-04", "2019-10-11","2019-10-18", "2019-10-25", "2019-11-01", "2019-11-08",
                  "2019-11-15", "2019-11-22", "2019-11-29", "2019-12-06", "2019-12-13", "2019-12-20",
                  "2019-12-27", "2020-01-03", "2020-01-10", "2020-01-17", "2020-01-24", "2020-01-31",
                  "2020-02-07", "2020-02-14", "2020-02-21", "2020-02-28", "2020-03-06", "2020-03-13"]

In [41]:
hardcode_weeks[0]

'2019-10-04'

In [63]:
for item in hardcode_weeks:
    stock_data[item]=""

In [64]:
stock_data

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
0,MMM,3M Company,Industrials,,,,,,,,...,,,,,,,,,,
1,AOS,A.O. Smith Corp,Industrials,,,,,,,,...,,,,,,,,,,
2,ABT,Abbott Laboratories,Health Care,,,,,,,,...,,,,,,,,,,
3,ABBV,AbbVie Inc.,Health Care,,,,,,,,...,,,,,,,,,,
4,ACN,Accenture plc,Information Technology,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,,,,,,,,...,,,,,,,,,,
501,YUM,Yum! Brands Inc,Consumer Discretionary,,,,,,,,...,,,,,,,,,,
502,ZBH,Zimmer Biomet Holdings,Health Care,,,,,,,,...,,,,,,,,,,
503,ZION,Zions Bancorp,Financials,,,,,,,,...,,,,,,,,,,
504,ZTS,Zoetis,Health Care,,,,,,,,...,,,,,,,,,,

In [116]:
for index, row in stock_data[95:100].iterrows():
    params['symbol']=row["Symbol"]
    response = requests.get(base_url, params=params).json()
    
    for week in hardcode_weeks: 
        try:
            stock_data.loc[index,week]= response["Weekly Time Series"][week]["4. close"]
        except:
            pass
            
        
stock_data.to_csv("stock_export.csv",index=False)

In [117]:
stock_data[90:100]

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
90,CAH,Cardinal Health Inc.,Health Care,46.0700,46.9200,51.5400,50.0500,50.4400,53.7500,56.2400,...,50.6300,53.9300,53.8200,51.2100,58.2400,59.6200,59.7200,52.1200,51.2700,47.6200
91,KMX,Carmax Inc,Consumer Discretionary,85.6000,90.5300,94.2800,94.7700,94.8600,93.8800,98.0000,...,89.0900,95.6800,96.7300,97.0400,96.3000,98.8100,101.2100,87.3100,85.0000,69.1900
92,CCL,Carnival Corp.,Consumer Discretionary,41.1400,41.5500,42.7900,44.5700,42.9500,45.0500,44.8500,...,48.8500,51.9000,47.5200,43.5300,42.2000,42.6000,41.6900,33.4600,27.1500,17.5800
93,CAT,Caterpillar Inc.,Industrials,121.0400,128.4000,130.7100,139.7300,144.4900,148.1600,145.3100,...,146.1300,147.7800,140.3800,131.3500,133.3700,137.9900,137.2100,124.2400,121.4100,99.6400
94,CBOE,Cboe Global Markets,Financials,116.2800,115.6000,116.7700,114.1000,114.8500,114.8800,119.4900,...,115.8500,116.5300,119.8100,123.2200,122.5400,125.6300,122.6100,114.0000,116.7700,94.8000
95,CBRE,CBRE Group,Real Estate,50.6700,51.8200,52.2100,52.6100,54.7900,54.8900,56.4400,...,60.2400,61.0300,60.7700,61.0500,64.0300,63.9600,62.7300,56.1400,54.5800,46.3800
96,CBS,CBS Corp.,Consumer Discretionary,39.0400,38.4300,36.7500,36.0400,36.7400,38.1100,38.5700,...,,,,,,,,,,
97,CELG,Celgene Corp.,Health Care,99.8700,100.5700,102.9500,105.2100,108.5300,109.5400,110.0200,...,,,,,,,,,,
98,CNC,Centene Corporation,Health Care,43.5700,44.2700,46.8800,48.2300,52.1300,55.0600,57.5600,...,64.4800,64.5400,66.6100,62.8100,63.1600,64.9400,65.4900,53.0200,58.5600,63.5700
99,CNP,CenterPoint Energy,Utilities,29.2500,28.2700,28.6400,29.5400,29.0200,28.7800,25.4800,...,26.3000,27.0500,26.4600,26.4800,26.7200,27.1800,25.2700,23.0200,21.5500,15.5500

In [162]:
edit_df = stock_data.copy()

In [163]:
edit_df.replace('', np.nan, inplace=True)

In [164]:
edit_df.dropna(how="any", inplace = True)

In [165]:
edit_df.to_csv("100_only_stock_export.csv",index=False)

In [166]:
sector_df = edit_df.copy()

In [167]:
sector_df = sector_df.drop(["Symbol","Name"], axis=1)
sector_df = sector_df.set_index(["Sector"])
sector_df

,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,2019-11-22,2019-11-29,2019-12-06,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
Sector,,,,,,,,,,,,,,,,,,,,,
Industrials,155.8200,158.1000,163.1000,166.0900,170.0900,173.1500,171.8800,167.6000,169.7700,171.4700,...,180.4700,181.3500,178.1500,158.6600,160.0800,161.0100,156.9300,149.2400,153.6500,141.6800
Industrials,45.5100,47.9900,51.0100,51.0700,50.2800,52.0800,50.7800,48.2000,48.4000,46.7900,...,47.6200,46.9300,45.4300,42.6900,41.9900,43.9300,44.0900,39.5500,42.6900,41.4900
Health Care,81.9900,79.6300,82.7900,81.6500,82.6600,83.7400,85.7100,83.7400,85.4500,85.4800,...,85.3600,89.0000,90.4000,87.1400,87.8700,89.6600,87.4500,77.0300,81.7400,81.6500
Health Care,74.6600,73.6300,76.4600,76.5300,81.7500,85.2100,88.6300,86.0500,87.7300,86.9800,...,89.0600,88.0000,83.5400,81.0200,92.2900,94.0500,94.9600,85.7100,88.8200,85.3700
Information Technology,189.6400,184.9700,187.0800,183.0700,188.2200,189.7000,196.8100,196.6600,201.1600,202.5500,...,207.6600,209.2000,208.5700,205.2100,211.5800,212.3700,211.8900,180.5900,178.7500,166.5100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Industrials,121.0400,128.4000,130.7100,139.7300,144.4900,148.1600,145.3100,143.8800,144.7300,142.7200,...,146.1300,147.7800,140.3800,131.3500,133.3700,137.9900,137.2100,124.2400,121.4100,99.6400
Financials,116.2800,115.6000,116.7700,114.1000,114.8500,114.8800,119.4900,123.7700,118.9000,120.5900,...,115.8500,116.5300,119.8100,123.2200,122.5400,125.6300,122.6100,114.0000,116.7700,94.8000
Real Estate,50.6700,51.8200,52.2100,52.6100,54.7900,54.8900,56.4400,54.9100,57.0200,58.5000,...,60.2400,61.0300,60.7700,61.0500,64.0300,63.9600,62.7300,56.1400,54.5800,46.3800
Health Care,43.5700,44.2700,46.8800,48.2300,52.1300,55.0600,57.5600,59.4500,60.4700,60.9800,...,64.4800,64.5400,66.6100,62.8100,63.1600,64.9400,65.4900,53.0200,58.5600,63.5700
Utilities,29.2500,28.2700,28.6400,29.5400,29.0200,28.7800,25.4800,24.7500,24.5600,25.0200,...,26.3000,27.0500,26.4600,26.4800,26.7200,27.1800,25.2700,23.0200,21.5500,15.5500

In [168]:
sector_df[hardcode_weeks]= sector_df[hardcode_weeks].apply(pd.to_numeric, errors = "coerce")

In [169]:
sector_df = sector_df.groupby(["Sector"]).mean()

In [170]:
sector_df

,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,2019-11-22,2019-11-29,2019-12-06,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
Sector,,,,,,,,,,,,,,,,,,,,,
Consumer Discretionary,583.925556,586.522222,597.758889,606.008889,610.143333,595.255556,586.632222,588.127778,599.860000,596.717778,...,623.423333,621.735556,607.886667,597.035556,614.103333,629.635556,621.171111,561.225556,554.725556,508.078889
Consumer Staples,43.113333,43.300000,43.843333,44.756667,44.676667,45.323333,46.040000,46.183333,46.400000,47.356667,...,47.300000,48.096667,47.780000,46.893333,46.936667,46.193333,45.916667,41.046667,43.850000,41.330000
Energy,20.870000,20.403333,20.720000,21.086667,21.380000,21.683333,21.590000,20.740000,20.213333,19.426667,...,24.910000,24.363333,22.493333,21.063333,21.733333,21.380000,21.273333,18.313333,17.716667,13.056667
Financials,117.370937,117.874375,119.219687,121.005000,123.338750,126.453750,127.121875,126.646875,128.183750,128.476875,...,130.410000,133.862500,133.301250,132.413125,137.343125,139.796875,138.520000,118.713125,116.071875,102.550625
Health Care,121.530625,122.656250,126.126875,132.038750,137.385000,138.171250,140.074375,142.211875,143.589375,143.870625,...,148.285625,148.343125,144.525000,138.301875,145.253750,148.789375,147.857500,132.204375,136.691250,130.002500
Industrials,109.862727,111.503182,110.243182,113.190000,113.852727,115.783636,117.285455,116.260000,116.769091,115.772273,...,113.795455,114.400000,112.650909,108.082727,110.931818,112.840000,110.318182,96.340909,94.969091,79.113636
Information Technology,267.699412,268.885882,271.388235,273.966471,277.060588,284.585294,290.459412,286.165000,290.745882,294.737059,...,312.592059,321.927059,321.238235,313.031765,323.905882,332.062941,324.788529,290.533529,284.257059,265.710588
Materials,116.072500,118.045000,118.252500,118.890000,118.952500,125.082500,126.185000,124.372500,124.535000,122.505000,...,124.720000,130.465000,131.685000,130.602500,136.405000,140.250000,139.552500,121.602500,127.295000,111.072500
Real Estate,138.738333,138.345000,140.053333,138.901667,139.773333,136.005000,139.146667,137.798333,140.048333,140.078333,...,140.776667,144.288333,146.385000,144.790000,147.596667,154.116667,151.168333,135.365000,141.901667,131.563333
Telecommunication Services,37.510000,37.580000,38.470000,36.910000,38.950000,39.380000,39.500000,37.750000,37.380000,38.200000,...,38.570000,38.380000,38.500000,37.620000,38.450000,38.250000,38.550000,35.220000,37.030000,34.470000
Utilities,66.425000,65.064167,65.195000,65.261667,65.543333,62.880000,63.538333,63.750000,63.863333,64.516667,...,65.910000,68.910000,70.683333,71.361667,70.823333,72.953333,71.663333,63.965000,69.985000,61.726667

In [171]:
sector_df.to_csv("100_only_bysector_export.csv",index=False)