In [58]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

# API Key
from config import apikey

In [59]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo
base_url = "https://www.alphavantage.co/query?"
params = {
    "function":"TIME_SERIES_WEEKLY",
    "symbol":"",   #REMOVE AFTER VERIFYING
    "apikey":apikey
}

# Read in the stock data set
stock_data = pd.read_csv('Resources/Stocks.csv')
stock_data.head()


#function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [60]:
#response = requests.get(base_url, params=params).json()
#response

In [61]:
#Implement the weeks we will want to add to the columns

Start_Week = "2019-10-04"
End_Week = "2020-03-13"
x= Start_Week
weeks = []

In [62]:
hardcode_weeks = ["2019-10-04", "2019-10-11","2019-10-18", "2019-10-25", "2019-11-01", "2019-11-08",
                  "2019-11-15", "2019-11-22", "2019-11-29", "2019-12-06", "2019-12-13", "2019-12-20",
                  "2019-12-27", "2020-01-03", "2020-01-10", "2020-01-17", "2020-01-24", "2020-01-31",
                  "2020-02-07", "2020-02-14", "2020-02-21", "2020-02-28", "2020-03-06", "2020-03-13"]

In [41]:
hardcode_weeks[0]

'2019-10-04'

In [63]:
for item in hardcode_weeks:
    stock_data[item]=""

In [64]:
stock_data

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
0,MMM,3M Company,Industrials,,,,,,,,...,,,,,,,,,,
1,AOS,A.O. Smith Corp,Industrials,,,,,,,,...,,,,,,,,,,
2,ABT,Abbott Laboratories,Health Care,,,,,,,,...,,,,,,,,,,
3,ABBV,AbbVie Inc.,Health Care,,,,,,,,...,,,,,,,,,,
4,ACN,Accenture plc,Information Technology,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,,,,,,,,...,,,,,,,,,,
501,YUM,Yum! Brands Inc,Consumer Discretionary,,,,,,,,...,,,,,,,,,,
502,ZBH,Zimmer Biomet Holdings,Health Care,,,,,,,,...,,,,,,,,,,
503,ZION,Zions Bancorp,Financials,,,,,,,,...,,,,,,,,,,
504,ZTS,Zoetis,Health Care,,,,,,,,...,,,,,,,,,,

In [116]:
for index, row in stock_data[95:100].iterrows():
    params['symbol']=row["Symbol"]
    response = requests.get(base_url, params=params).json()
    
    for week in hardcode_weeks: 
        try:
            stock_data.loc[index,week]= response["Weekly Time Series"][week]["4. close"]
        except:
            pass
            
        
stock_data.to_csv("stock_export.csv")

In [117]:
stock_data[90:100]

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
90,CAH,Cardinal Health Inc.,Health Care,46.0700,46.9200,51.5400,50.0500,50.4400,53.7500,56.2400,...,50.6300,53.9300,53.8200,51.2100,58.2400,59.6200,59.7200,52.1200,51.2700,47.6200
91,KMX,Carmax Inc,Consumer Discretionary,85.6000,90.5300,94.2800,94.7700,94.8600,93.8800,98.0000,...,89.0900,95.6800,96.7300,97.0400,96.3000,98.8100,101.2100,87.3100,85.0000,69.1900
92,CCL,Carnival Corp.,Consumer Discretionary,41.1400,41.5500,42.7900,44.5700,42.9500,45.0500,44.8500,...,48.8500,51.9000,47.5200,43.5300,42.2000,42.6000,41.6900,33.4600,27.1500,17.5800
93,CAT,Caterpillar Inc.,Industrials,121.0400,128.4000,130.7100,139.7300,144.4900,148.1600,145.3100,...,146.1300,147.7800,140.3800,131.3500,133.3700,137.9900,137.2100,124.2400,121.4100,99.6400
94,CBOE,Cboe Global Markets,Financials,116.2800,115.6000,116.7700,114.1000,114.8500,114.8800,119.4900,...,115.8500,116.5300,119.8100,123.2200,122.5400,125.6300,122.6100,114.0000,116.7700,94.8000
95,CBRE,CBRE Group,Real Estate,50.6700,51.8200,52.2100,52.6100,54.7900,54.8900,56.4400,...,60.2400,61.0300,60.7700,61.0500,64.0300,63.9600,62.7300,56.1400,54.5800,46.3800
96,CBS,CBS Corp.,Consumer Discretionary,39.0400,38.4300,36.7500,36.0400,36.7400,38.1100,38.5700,...,,,,,,,,,,
97,CELG,Celgene Corp.,Health Care,99.8700,100.5700,102.9500,105.2100,108.5300,109.5400,110.0200,...,,,,,,,,,,
98,CNC,Centene Corporation,Health Care,43.5700,44.2700,46.8800,48.2300,52.1300,55.0600,57.5600,...,64.4800,64.5400,66.6100,62.8100,63.1600,64.9400,65.4900,53.0200,58.5600,63.5700
99,CNP,CenterPoint Energy,Utilities,29.2500,28.2700,28.6400,29.5400,29.0200,28.7800,25.4800,...,26.3000,27.0500,26.4600,26.4800,26.7200,27.1800,25.2700,23.0200,21.5500,15.5500