In [58]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

# API Key
from config import apikey

In [59]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo
base_url = "https://www.alphavantage.co/query?"
params = {
    "function":"TIME_SERIES_WEEKLY",
    "symbol":"",   #REMOVE AFTER VERIFYING
    "apikey":apikey
}

# Read in the stock data set
stock_data = pd.read_csv('Resources/Stocks.csv')
stock_data.head()


#function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [60]:
#response = requests.get(base_url, params=params).json()
#response

In [61]:
#Implement the weeks we will want to add to the columns

Start_Week = "2019-10-04"
End_Week = "2020-03-13"
x= Start_Week
weeks = []

In [62]:
hardcode_weeks = ["2019-10-04", "2019-10-11","2019-10-18", "2019-10-25", "2019-11-01", "2019-11-08",
                  "2019-11-15", "2019-11-22", "2019-11-29", "2019-12-06", "2019-12-13", "2019-12-20",
                  "2019-12-27", "2020-01-03", "2020-01-10", "2020-01-17", "2020-01-24", "2020-01-31",
                  "2020-02-07", "2020-02-14", "2020-02-21", "2020-02-28", "2020-03-06", "2020-03-13"]

In [41]:
hardcode_weeks[0]

'2019-10-04'

In [63]:
for item in hardcode_weeks:
    stock_data[item]=""

In [64]:
stock_data

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
0,MMM,3M Company,Industrials,,,,,,,,...,,,,,,,,,,
1,AOS,A.O. Smith Corp,Industrials,,,,,,,,...,,,,,,,,,,
2,ABT,Abbott Laboratories,Health Care,,,,,,,,...,,,,,,,,,,
3,ABBV,AbbVie Inc.,Health Care,,,,,,,,...,,,,,,,,,,
4,ACN,Accenture plc,Information Technology,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,,,,,,,,...,,,,,,,,,,
501,YUM,Yum! Brands Inc,Consumer Discretionary,,,,,,,,...,,,,,,,,,,
502,ZBH,Zimmer Biomet Holdings,Health Care,,,,,,,,...,,,,,,,,,,
503,ZION,Zions Bancorp,Financials,,,,,,,,...,,,,,,,,,,
504,ZTS,Zoetis,Health Care,,,,,,,,...,,,,,,,,,,

In [78]:
for index, row in stock_data[25:30].iterrows():
    params['symbol']=row["Symbol"]
    response = requests.get(base_url, params=params).json()
    
    for week in hardcode_weeks: 
        try:
            stock_data.loc[index,week]= response["Weekly Time Series"][week]["4. close"]
        except:
            pass
            
        
stock_data.to_csv("stock_export.csv")

In [79]:
stock_data.head(30)

,Symbol,Name,Sector,2019-10-04,2019-10-11,2019-10-18,2019-10-25,2019-11-01,2019-11-08,2019-11-15,...,2020-01-10,2020-01-17,2020-01-24,2020-01-31,2020-02-07,2020-02-14,2020-02-21,2020-02-28,2020-03-06,2020-03-13
0,MMM,3M Company,Industrials,155.8200,158.1000,163.1000,166.0900,170.0900,173.1500,171.8800,...,180.4700,181.3500,178.1500,158.6600,160.0800,161.0100,156.9300,149.2400,153.6500,141.6800
1,AOS,A.O. Smith Corp,Industrials,45.5100,47.9900,51.0100,51.0700,50.2800,52.0800,50.7800,...,47.6200,46.9300,45.4300,42.6900,41.9900,43.9300,44.0900,39.5500,42.6900,41.4900
2,ABT,Abbott Laboratories,Health Care,81.9900,79.6300,82.7900,81.6500,82.6600,83.7400,85.7100,...,85.3600,89.0000,90.4000,87.1400,87.8700,89.6600,87.4500,77.0300,81.7400,81.6500
3,ABBV,AbbVie Inc.,Health Care,74.6600,73.6300,76.4600,76.5300,81.7500,85.2100,88.6300,...,89.0600,88.0000,83.5400,81.0200,92.2900,94.0500,94.9600,85.7100,88.8200,85.3700
4,ACN,Accenture plc,Information Technology,189.6400,184.9700,187.0800,183.0700,188.2200,189.7000,196.8100,...,207.6600,209.2000,208.5700,205.2100,211.5800,212.3700,211.8900,180.5900,178.7500,166.5100
5,ATVI,Activision Blizzard,Information Technology,55.4400,54.8200,54.5400,55.2600,55.8200,54.3000,53.4400,...,58.9500,61.2400,59.4000,58.4800,61.5300,63.5200,63.3750,58.1300,59.9700,59.0400
6,AYI,Acuity Brands Inc,Industrials,121.1500,122.0200,122.9300,124.9000,125.9900,128.0800,128.3800,...,121.2400,123.2800,121.4900,117.8700,117.7000,116.9000,115.7000,102.8600,103.0500,95.6800
7,ADBE,Adobe Systems Inc,Information Technology,276.9600,278.2900,265.5200,270.9800,277.8200,292.4600,297.5000,...,339.8100,349.7400,351.3700,351.1400,366.0900,379.6700,372.9500,345.1200,336.7700,335.5000
8,AAP,Advance Auto Parts,Consumer Discretionary,159.9400,158.5600,163.5000,165.5600,164.8200,167.4000,162.6600,...,149.0100,151.0500,141.6800,131.7500,132.9300,133.5900,140.6100,132.9800,127.9100,113.6900
9,AMD,Advanced Micro Devices Inc,Information Technology,29.0100,29.7500,30.9700,32.7100,34.8900,36.2900,38.5600,...,48.1650,50.9300,50.3500,47.0000,49.7300,55.3100,53.2800,45.4800,48.5900,43.9000
10,AES,AES Corp,Utilities,16.0300,16.0100,16.3800,16.8000,17.5100,17.6400,18.4500,...,20.1800,20.5000,20.3800,19.8600,20.5000,20.9300,20.7500,16.7300,16.8200,13.0000
11,AET,Aetna Inc,Health Care,,,,,,,,...,,,,,,,,,,
12,AMG,Affiliated Managers Group Inc,Financials,76.4700,75.9700,74.5800,77.3400,82.1500,86.8600,85.0000,...,82.9300,85.6400,82.9100,79.8500,81.5200,82.9000,88.7800,75.2200,70.4900,57.1700
13,AFL,AFLAC Inc,Financials,52.1000,52.4400,52.7100,53.2600,53.6100,54.1400,54.4000,...,52.0700,53.4200,52.3900,51.5700,52.9300,52.8100,51.5300,42.8500,40.7800,34.6900
14,A,Agilent Technologies Inc,Health Care,75.8800,75.3000,74.5700,75.3900,76.9700,76.6400,78.2600,...,87.5900,90.1200,88.2600,82.5600,83.1700,85.8200,85.0700,77.0700,78.5600,69.2000
15,APD,Air Products & Chemicals Inc,Materials,213.8800,217.2900,214.8800,213.2600,213.5600,233.8700,240.9200,...,232.0000,237.0000,243.9500,238.7100,249.9200,256.0100,254.9700,219.6100,229.7100,206.3600
16,AKAM,Akamai Technologies Inc,Information Technology,90.9100,89.5500,91.5100,89.1500,87.5000,84.5300,87.7100,...,93.5300,95.3100,95.5200,93.3500,96.1200,99.6700,100.5200,86.5100,90.6200,85.7300
17,ALK,Alaska Air Group Inc,Industrials,63.5100,66.0800,66.8400,71.5700,70.1500,71.1700,70.3800,...,65.8900,66.6200,66.7200,64.5900,63.9600,66.1100,65.4300,50.4600,45.2100,37.9500
18,ALB,Albemarle Corp,Materials,66.3200,68.9100,67.1300,63.5900,64.4900,67.9800,66.1400,...,72.1000,80.9000,81.1800,80.2800,82.5400,89.6400,92.4300,81.8500,82.6000,68.0100
19,ARE,Alexandria Real Estate Equities Inc,Real Estate,154.8000,153.9700,156.0100,158.2500,158.4200,153.9100,158.7600,...,158.5700,162.9000,164.6600,163.2000,167.5500,174.9300,167.9800,151.8800,159.0600,147.7400
20,ALXN,Alexion Pharmaceuticals,Health Care,98.0300,99.2500,98.4100,105.1800,109.3800,110.7900,108.3700,...,109.4800,113.2700,105.2700,99.3900,100.5600,102.5600,103.1400,94.0300,91.9800,80.4400
21,ALGN,Align Technology,Health Care,181.5900,200.1600,213.8800,243.3800,257.0400,259.9200,263.9200,...,293.3300,280.7000,269.9800,257.1000,258.6700,274.9500,260.2600,218.3500,225.1700,195.8800
22,ALLE,Allegion,Industrials,103.3200,101.4600,103.9500,113.3300,118.1900,115.6500,119.1200,...,123.4300,128.0500,128.0000,129.3200,134.0400,138.9000,128.5800,114.9900,119.8000,111.8100
23,AGN,"Allergan, Plc",Health Care,168.4400,169.0900,173.6000,173.8400,178.2900,181.2800,183.6100,...,191.8300,192.6800,188.1900,186.6400,197.0500,198.3200,200.1500,190.6700,191.9500,183.8500
24,ADS,Alliance Data Systems,Information Technology,123.8800,122.5500,123.5400,104.8000,101.0600,107.9000,103.4500,...,112.0700,112.9100,107.4000,102.7900,105.9200,102.8300,102.1600,85.8800,72.6100,49.5100
25,LNT,Alliant Energy Corp,Utilities,,,,,,,,...,,,,,,,,,,
26,ALL,Allstate Corp,Financials,,,,,,,,...,,,,,,,,,,
27,GOOGL,Alphabet Inc Class A,Information Technology,,,,,,,,...,,,,,,,,,,
28,GOOG,Alphabet Inc Class C,Information Technology,,,,,,,,...,,,,,,,,,,
29,MO,Altria Group Inc,Consumer Staples,,,,,,,,...,,,,,,,,,,